name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: cloud_metric_devops
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres -d cloud_metric_devops"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    env:
      NODE_ENV: test
      PORT: 3000
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/cloud_metric_devops

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - name: Install deps
        run: npm ci

      - name: Run migrations
        run: npm run migrate

      - name: Run tests
        run: npm test
